/* ------------- BACKGROUND ------------- */
html {
  background-color: #faf1d4;
  background-image: url('https://www.transparenttextures.com/patterns/cartographer.png');
  background-size: 15%;
}

body {
  font-family: 'Gochi Hand', cursive;
  background-color: transparent;
  text-shadow: 0px 2px 8px #cc8b41, 1px 0 1px #cc8b41, 1px 0px 0px #cc8b41;
  text-align: left;
}

/* ------------- alt test css ------------- */
/* https://codepen.io/danichk/pen/KdorYJ: for air mail #letterContainer css formatting  */
#letterContainer {
  width: 100%;
  overflow: hidden;
  background-color: antiquewhite;
  background-size: cover;
  background-repeat: no-repeat;
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em,
                  #58a 0, #58a 3em, transparent 0, transparent 4em);
}

/* #stampOutline {
  background: url('../images/stampBorder.png');
  background-size: contain;
  background-repeat: no-repeat;
} */
  
#stampHeadshot {
  background: url('../images/kms_headshot.jpg');
  background-size: cover;
  margin: auto;
}

#portfolioContainer {
  list-style-type: none;
  text-shadow: none;
  padding: .25em 0em;
}

/* ------------- HEADSHOT POSTAGE STAMP CSS
CREDIT: https://codepen.io/orhanveli/pen/tbGJL 
http://thenewcode.com/446/Turn-Images-Into-Postage-Stamps-with-border-image for code
------------- */


#letter {
  background: url('../images/letter.png');
  overflow: hidden;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

#headshot {
  background: url('../images/kms_headshot.jpg');
  background-size:cover;
  margin: auto;
  width: 100%;
	height: 100%;
	display: inline-block;
	padding: 10px;
	position: relative;
}

#stampContainer {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.stamp {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 10px;
	background: white;
	position: relative;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
		white 4px,
		white
	);
	/*reducing the gradient size*/
	background-size: 20px 20px;
	/*Offset to move the holes to the edge*/
	background-position: -10px -10px;
}


/* ------------- PAPER FOLD EFFECT & LETTER TOP NAV
CREDIT: Visit [oridomi.com](http://oridomi.com) for examples, documentation and notes.
ESSENTIALLY CHERRY PICKED THE CSS THAT IS DEPENDENT ON oridomi 
------------- */ 

h2 {
  text-align: center;
  font-size: 4.5em;
  padding: 0em .75em;
}

#resume {
  background: url('../images/resumeTemp.png');
  background-size: cover;
  width: 500px;
  height: 100%;
}

/* need to set this value to override a default in oridomi.js that utilized the '!important' modifier. */
.oridomi-active {
  background-image: none;
}

#portfolioNav {
  list-style-type: none;
  padding: .25em 0em;
}

.btn {
  text-shadow: none;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 4px;
}

/* format text to format spacing to resemble handwriting with more even line spacing so one would for an address block*/
#seeResume.btn {
  letter-spacing: 1px;
  word-spacing: .5px;
}
#clickInfo.btn {
  letter-spacing: 1px;
  word-spacing: 5px;
}

/* ------------- TIMELINE FORMATTING RESPONSIVE 
ALTHOUGH I EXPENDED A GOOD AMOUNT OF EFFORT TO DEVELOP A CUSTOM TIMELINE FOR MY PORTFOLIO, CREDIT AND INSPIRATION IS UNDOUBTEDLY DUE TO THE FOLLOWING GREAT PEOPLE:
CREDIT: https://codepen.io/anon/pen/YMBeRQ for initial inspiration/framework for side scroll timeline with mouseover effect.
CREDIT: https://coderwall.com/p/m-uwvg/css-background-noise for grainy cell effect on timeline items
CREDIT: https://codepen.io/xero09/pen/PPZGME for the film cell effect
CREDIT: https://jsfiddle.net/SkiWether/r8ErN/ for the on/off or toggle effect for zooming into the portfolio item
------------- */

/* TIMELINE */

#timelineContainer {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 2em 0em 2em 0em;
}

#thumbs {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 10px 10px; */
}

/* #timeline-left, #timeline-right {
  height: 100%;
  width: 500px;
  color: #4aaaa5;
} */

.history-block {
  height: 100%;
  width: 300px;
  background-color: #cdcdcd;
  margin: 0 -2px;
  border-right: 1px solid #fff;
  display: inline-block;
  font-size:60px;
  font-weight: 100;
  color: #FFF;
  cursor: pointer;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
  transition: width 0.2s;
}

.history-block.active {
  width: 600px;
  transition: width 0.1s;
}

.history-block:last-of-type {
  border-right: none;
}

.cover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
  /* GRAINY IMAGE EFFECT LOCATION */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.cover:hover {
  width: 100%;
  height: 100%;
  background: none;
  transition: background .5s;
}

.title {
  position: absolute;
  top: 0px;
  font-size: 30px;
  margin: 40px 30px;
}

.project {
  position: absolute;
  display: block;
  width: 260px;
  top: 60px;
  font-size: 15px;
  margin: 30px;
  white-space: normal;
  transition: width 0.2s;
}

.project.active {
  width: 500px;
}

.timeline {
  display:none;
  position: absolute;
  bottom: 80px;
  font-size: 20px;
  margin: 20px;
  transition: display 0.8s;
}

.timeline ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.timeline ul li {
  display: inline;
  font-size: 15px;
  font-weight: 100;
  padding: 0px 5px;
}

.timeline ul li {
  display: inline;
  font-size: 15px;
  font-weight: 100;
  padding: 0px 5px;
}

.timeline ul li:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  content: '\f10c';
  position: absolute;
  top: 30px;
  margin-left:10px;
  transition: all 0.5s;
}

.timeline ul li:after {
  content: '';
  position: absolute;
  top: 40px;
  margin-left:-10px;
  width: 36px;
  height:2px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.5s;
}

.timelineYear, .timelineYear:hover {
  text-decoration: none;
  color: #cc8b41;
  font-size: 30px;
  transition: all 0.8s;
}

.timeline ul li:hover:before {
  content: '\f111';
  color: #ffffff;
  font-size: 18px;
  transition: all 0.5s;
  top: 29px;
  margin-left: 9px
}

.timeline ul li:hover:after  {
  content: '';
  position: absolute;
  top: 40px;
  margin-left:-10px;
  width: 36px;
  height:2px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

/* REMOVE THE TIMELINE TRAILING TAIL */
.timeline ul li:last-child::after {
  border: 0px;
}

.timeline ul li:hover:before {
  position: static;
  top:-10px;
}

/* FILM CELL FORMATTING */

.box {
  width: 100%;
  height: 100%;
  display: table-row;
  margin: auto;
  overflow: hidden;
}
.top-boxes {
  height: 270px;
  margin-top: -20px;
}

.small_box {
  margin: 0;
  background-color: #fff;
  display: inline-block;
  width: 26px;
  height: 20px;
  margin: 10px 10px 10px 10.81px;
}

@keyframes load{
  from{transform: scale(0);}
}


/* ------------- OTHER ITEMS ------------- */

/* PORTFOLIO ITEMS */

#project-1 {
  background: url('../images/recipeBuddy_project.png');
  background-size:cover;
}

#app-1 {
  background: url('../images/giphy_app.png');
  background-size:cover;
}

#game-1 {
  background: url('../images/trivia_game.png');
  background-size:cover;
}

#game-2 {
  background: url('../images/spaceBattle_game.png');
  background-size:cover;
}

#game-3 {
  background: url('../images/wordGuess_game.png');
  background-size:cover;
}

/* FOOTER FORMATTING */
/* .footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: #666666;
  color: #ffffff;
  border-top: solid 8px #4aaaa5;
  font-size: 14px;
} */

.footerText {
  margin-top: 10px;
}

.display-4 {
  font-size: 1.75rem;
  color: #4aaaa5;
}

/* ---------- 
FLEXBOX FORMATTING WITH MEDIA QUERIES 
---------- */

/* .row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
} */

/* @media only screen and (max-width: 768px) {
  [class*="col-"] {width: 100%;}
  body {font-size: 12px; overflow: auto}
  h2 {font-size: 24px;}
  .row, .row-bottom {width: 100%; flex-direction: column;}
  .html {padding: 1.25em;}
  .menuToggle.nes-btn {height: 40px; font-size: 12px;}
  .nes-container.with-title.is-dark {width: 100%;}
} */

/* FOR DESKTOP: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* .col-6-button {width: 50%; align-self: center;} */

/* If the screen size is 601px or MORE, set the _____ */
@media only screen and (min-width: 601px) {
  body {margin: 1em 1em 1em 3em;}
  .btn {font-size: 20px;}
  #stampOutline {max-width: 150px; max-height: 120px;}
}

/* If the screen size is 600px or LESS, set the _____ */
@media only screen and (max-width: 600px) {
  body {margin: 1em -1em 1em 1em;}
  .btn {font-size: 14px;}
  #stampOutline {max-width: 85px; max-height: 60px;}
}

/* If the screen size is 400px or LESS, set the _____ */
@media only screen and (max-width: 400px) {
  body {margin: 1em -1em 1em 1em;}
  .btn {font-size: 12px;}
  .stamp {width: unset;}
}

