/* ------------- BACKGROUND ------------- */
html {
    background-color: #faf1d4;
    background-image: url('https://www.transparenttextures.com/patterns/cartographer.png');
    background-size: 15%;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body {
    font-family: 'Gochi Hand', cursive;
    /* background-color: #cc8b41; */
    text-shadow: 0px 2px 8px #cc8b41, 1px 0 1px #cc8b41, 1px 0px 0px #cc8b41;
    text-align: left;
    margin: 1em 4em 1em 4em;
}

/* ------------- TIMELINE FORMATTING RESPONSIVE 
CREDIT: https://codepen.io/anon/pen/YMBeRQ for initial inspiration/framework for side scroll timeline with mouseover effect.
CREDIT: https://coderwall.com/p/m-uwvg/css-background-noise for grainy cell effect on timeline items
CREDIT: https://codepen.io/chrissp26/pen/OPNKXm for the film cell effect
https://codepen.io/xero09/pen/PPZGME
------------- */

/* TIMELINE */

#timelineContainer {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 2em 0em 2em 0em;
}

#thumbs {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 10px 10px; */
}

.history-block {
  height: 100%;
  width: 300px;
  background-color: #cdcdcd;
  margin: 0 -2px;
  border-right: 1px solid #fff;
  display: inline-block;
  font-size:60px;
  font-weight: 100;
  color: #FFF;
  cursor: pointer;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
  transition: width 0.2s;
}

.history-block:last-of-type {
  border-right: none;
}

.cover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
  /* GRAINY IMAGE EFFECT LOCATION */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.cover:hover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
}

.project {
  position: absolute;
  top: 0px;
  font-size: 30px;
  margin: 40px 30px;
}

.title {
  position: absolute;
  display: block;
  width: 260px;
  top: 60px;
  font-size: 15px;
  margin: 30px;
  white-space: normal;
  transition: width 0.2s;
}

.timeline {
  display:none;
  position: absolute;
  bottom: 80px;
  font-size: 20px;
  margin: 20px;
  transition: display 0.8s;
}

.timeline ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.timeline ul li {
  display: inline;
  font-size: 15px;
  font-weight: 100;
  padding: 0px 5px;
}

.timeline ul li {
  display: inline;
  font-size: 15px;
  font-weight: 100;
  padding: 0px 5px;
}

.timeline ul li:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  content: '\f10c';
  position: absolute;
  top: 30px;
  margin-left:10px;
  transition: all 0.5s;
}

.timeline ul li:after {
  content: '';
  position: absolute;
  top: 40px;
  margin-left:-10px;
  width: 36px;
  height:2px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 0.5s;
}

.timelineYear, .timelineYear:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.8s;
}

.timeline ul li:hover:before {
  content: '\f111';
  color: #ffffff;
  font-size: 18px;
  transition: all 0.5s;
  top: 29px;
  margin-left: 9px
}

.timeline ul li:hover:after {
  content: '';
  position: absolute;
  top: 40px;
  margin-left:-10px;
  width: 36px;
  height:2px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

/* REMOVE THE TIMELINE TRAILING TAIL */
.timeline ul li:last-child::after {
  border: 0px;
}

.timeline ul li:hover .timelineYear {
  position: static;
  top:-10px;
}

/* FILM CELL FORMATTING */

.wrapper {
  margin: auto;
}

.box {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  
}
.top-boxes {
  position: relative;
  width: 100%;
  height: 40px;
  top: -22px;
}
.bottom-boxes {
  position: sticky;
  width: 100%;
  height: 40px;
  bottom: 10px;
}
.small_box {
  margin: 0;
  background-color: #fff;
  display: inline-block;
  width: 26px;
  height: 20px;
  margin: 10px 10px 10px 10.81px;
}
.center_box{
  width: 90%;
  height: 170px;
  background: url(http://www.porathcontractors.com/gallery/albums/projects/Sunset.sized.jpg) center center no-repeat;
  margin: auto;
  cursor: pointer;
  transition: opacity 0.2s linear;
  transition: transform 0.3s linear;
  animation: load 1s linear;
}

.center_box:hover{
  transform: scale(0.95);
  opacity: 0.75;
}

@keyframes load{
  from{transform: scale(0);}
}


/* ------------- OTHER ITEMS ------------- */

/* PORTFOLIO ITEMS */

#project-1 {
  background: url('../images/recipeBuddy_project.png');
  background-size:cover;
}

#app-1 {
  background: url('../images/giphy_app.png');
  background-size:cover;
}

#game-1 {
  background: url('../images/trivia_game.png');
  background-size:cover;
}

#game-2 {
  background: url('../images/spaceBattle_game.png');
  background-size:cover;
}

#game-3 {
  background: url('../images/wordGuess_game.png');
  background-size:cover;
}

/* FOOTER FORMATTING */
.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: #666666;
  color: #ffffff;
  border-top: solid 8px #4aaaa5;
  font-size: 14px;
}

.footerText {
  margin-top: 10px;
}

.display-4 {
  font-size: 1.75rem;
  color: #4aaaa5;
}