/* -------------
BACKGROUND
------------- */
html {
    background-color: #FAF1D4;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    background-size: 15%;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body {
    font-family: 'Gochi Hand', cursive;
    /* color: whitesmoke;
    background-color:  rgb(167, 33, 33);
    text-shadow: 0px 2px 8px #cc8b41, 1px 0 1px #cc8b41, 1px 0px 0px #cc8b41;
    text-align: center;
    margin: 1em;
    padding: .5em; */
}

/* -------------
TIMELINE FORMATTING RESPONSIVE 
CREDIT: https://codepen.io/anon/pen/YMBeRQ for initial inspiration/framework for side scroll timeline with mouseover effect.
CREDIT: // As beautifully executed at: https://godaytrip.com/ for grainy, old film reel effect
//      Write-up on CSS-Tricks: https://css-tricks.com/snippets/css/animated-grainy-texture/
CREDIT: https://codepen.io/chrissp26/pen/OPNKXm for the film cell effect
------------- */

/* GRAINY IMAGE EFFECT  */
  
  .page-header:after {
    animation: grain 8s steps(10) infinite;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -110%;
    width: 300%;
  }
  
  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }

/* TIMELINE */

#container
{
height: 200px;
width: 100%;
background-color: #000;
overflow: hidden;
position: relative;
margin: .25em 0em .25em 0em;
display: inline-block;
}

#thumbs
{
background-color: #ddd;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: auto;
overflow: hidden;
white-space: nowrap;
padding: 10px 10px;
}

/* FILM CELL FORMATTING */
.clip {
    float: left;
    width: 31%;
    margin: 0 1%;
    padding-top: 23%;
    position: relative;
    background-color: #000;
    background-image:  
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff),        
            
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff), 
        linear-gradient(to right, #fff, #fff);
    
    background-repeat:no-repeat;
    background-position: 
        5% 5%,
        15% 5%,
        25% 5%, 
        35% 5%,
        45% 5%,
        55% 5%,
        65% 5%,
        75% 5%, 
        85% 5%,
        95% 5%,
                
        5% 95%,
        15% 95%,
        25% 95%, 
        35% 95%,
        45% 95%,
        55% 95%,
        65% 95%,
        75% 95%, 
        85% 95%,
        95% 95%;
    
    background-size:
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
            
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%,
        5% 8%;
    }
    .clip .film {  
    margin: 12% 5%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-grid;
    display: -ms-grid;
    -webkit-grid-columns: 1fr;
    -webkit-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    }
    .clip img {
    max-width: 100%;
    -webkit-grid-row-align: center;
    -ms-grid-row-align: center;
    }

.history-block {
height: 100%;
width: 300px;
background-color: #cdcdcd;
margin: 0 -2px;
border-right: 1px solid #fff;
display: inline-block;
font-family: 'roboto condensed', sans-serif;
font-size:60px;
font-weight: 100;
color: #FFF;
cursor: pointer;
box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
transition: width 0.2s;
}

.history-block:last-of-type {
border-right: none;
}

.cover {
width: 100%;
height: 100%;
transition: background .5s;
background: rgba(0,0,0,0.8);
}

.cover:hover {
width: 100%;
height: 100%;
transition: background .5s;
background: rgba(0,0,0,0.8);
}

.year {
position: absolute;
top: 0px;
font-size: 30px;
font-weight:500;
margin: 40px 30px;
}

.title {
position: absolute;
display: block;
width: 260px;
top: 60px;
font-size: 15px;
margin: 30px;
white-space: normal;
transition: width 0.2s;
}

.timeline {
display:none;
position: absolute;
bottom: 80px;
font-size: 20px;
margin: 20px;
transition: display 0.8s;
}

.timeline ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.timeline ul li {
display: inline;
font-size: 15px;
font-weight: 100;
padding: 0px 5px;
}

.timeline ul li {
display: inline;
font-size: 15px;
font-weight: 100;
padding: 0px 5px;
}

.timeline ul li:before {
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
color: rgba(255,255,255,0.5);
content: '\f10c';
position: absolute;
top: 30px;
margin-left:10px;
transition: all 0.5s;
}

.timeline ul li:after {
content: '';
position: absolute;
top: 40px;
margin-left:-10px;
width: 36px;
height:2px;
border: 1px solid rgba(255,255,255,0.5);
transition: all 0.5s;
}

.timelineYear, .timelineYear:hover {
text-decoration: none;
color: #fff;
transition: all 0.8s;
}

.timeline ul li:hover:before {
content: '\f111';
color: #ffffff;
font-size: 18px;
transition: all 0.5s;
top: 29px;
margin-left:9px
}

.timeline ul li:hover:after {
content: '';
position: absolute;
top: 40px;
margin-left:-10px;
width: 36px;
height:2px;
border: 1px solid #fff;
transition: all 0.5s;
}

.timeline ul li:hover .timelineYear {
position: static;
top:-10px;
}

.bg-66 .game1 {
  background: url(http://www.unido.org/uploads/tx_templavoila/history_07.jpg);
  background-size:cover;
}

.bg-76 .game2 {
  background: url(http://austria-forum.org/attach/Wissenssammlungen/Bibliothek/Wien_mit_den_Augen_des_Adlers/Wien_der_Moderne/UNO-City,_Austria_Center_Vienna/dkaiser_hav_25.jpg);
  background-size:cover;
}

.bg-86 .game3 {
  background: url('https://upload.wikimedia.org/wikipedia/commons/e/e8/Power_Plant_(Tianjin,_China).jpg');
  background-size:cover;
}

.bg-96 .game4 {
  background: url(http://www.oxfordbusinessgroup.com/sites/default/files/styles/chapter_header__710x233_/public/chapter_headers/ind1_2.png?itok=uxI_081i&c=af7608f5f35cf219c326e9b6e6a7d34c);
  background-size:cover;
}

.bg-06 .app1 {
  background: url(http://www.3adi.org/tl_files/3ADIDocuments/Pictures/Greenshot_2014-01-08_18-32-54.jpg);
  background-size:cover;
}

.bg-16 .project1 {
  background: url(https://i.dailymail.co.uk/i/pix/2012/07/23/article-0-142DF918000005DC-387_468x665.jpg);
  background-size:cover;
}

/* -------------
FLEXBOX FORMATTING WITH MEDIA QUERIES 
------------- */
.row {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 575px;
    
}
.row-bottom {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 575px;
}

/* -------------
FOR DESKTOP: 
------------- */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-6-button {width: 50%; align-self: center;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* FOR MOBILE PHONES: */
    [class*="col-"] {width: 100%;}
    body {font-size: 12px; overflow: auto}
    .row, .row-bottom {width: 100%; flex-direction: column;}
    .html {padding: 1.25em;}
    .menuToggle.nes-btn {height: 40px; font-size: 12px;}
    .nes-container.with-title.is-dark {width: 100%;}
    h2 {font-size: 24px;}
}